@model Product
@{
ViewData["Title"] = "Create";
}
<form asp-controller="Home" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" required>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" step="0.01" min="0" required>
    </div>
    <div class="mb-3">
        <label asp-for="Image" class="form-label">Image URL</label>
        <input asp-for="Image" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-select" required>
            <option value="0">Hepsi</option>
          
        </select>
    </div>
    <div class="mb-3 form-check">
        <input  class="form-check-input">
        <label asp-for="IsActive" class="form-check-label">Is Active</label>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
